body {
    margin: 0;
    padding: 20px;
    position: relative;
    height: 400px;
}

.box1, .box2, .box3 {
    position: absolute;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    color: white;
}

.box1 {
    background-color: #34ff22; 
    z-index: 1;
}

.box2 {
    background-color: #000000; 
    z-index: 4;
    left: 50px;
    top: 200px;
}

.box3 {
    background-color: #ff0000; 
    z-index: 8;
    left: 200px;
    top: 100px;
}
